@import "src/assets/styles/index.scss";

.footer {
  margin-top: 72px;
  height: 235px;
  width: 100%;
  background-color: $color-filling;
}
.footer-content {
  padding: 72px calc(39px + (165 - 39) * ((100vw - 768px) / (1440 - 768))) 0
    calc(39px + (165 - 39) * ((100vw - 768px) / (1440 - 768)));
  @media (max-width: 600px) {
    padding: 28px 15px 0 15px;
  }
}
.block-info {
  background-color: $color-label;
  padding: 24px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media (max-width: 600px) {
    flex-direction: column;
    align-items: start;
  }
}

.footer-title {
  font-size: 32px;
  line-height: 40px;
  @media (max-width: 600px) {
    display: none;
  }
}
.block-social {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-icon-vk {
  margin-left: 8px;
}
.social-icons {
  display: flex;
  align-items: center;
  cursor: pointer;
  @media (max-width: 600px) {
    margin-top: 26px;
  }
}

.block-politics {
  display: flex;
  align-items: center;
  margin-top: 24px;
}
.block-politics_item {
  width: 50%;
  font-size: 14px;
  line-height: 17px;
}

.politic-modal {
  cursor: pointer;
}
