@import "src/assets/styles/index.scss";

.form-work__title {
  font-size: 40px;
}

.form-flex {
  display: flex;
  align-items: center;
  width: 90%;
  justify-content: space-between;
}
.form-input {
  width: 50% !important;
}

.form-input_radio {
  width: 41%;
}

.form-input__text {
  height: 94px;
  resize: none;
}

.form-button {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  background-color: $color-filling;
}
