@import "src/assets/styles/index.scss";

.header {
  display: flex;
  align-items: center;
  padding: calc(32px + (32 - 32) * ((100vw - 768px) / (1440 - 768)))
    calc(39px + (165 - 39) * ((100vw - 768px) / (1440 - 768)));
  justify-content: space-between;
  @media (max-width: 650px) {
    padding: 28px 15px;
  }
}
.header-logo {
  display: flex;
  align-items: center;
}
.header__title {
  font-size: 32px;
  line-height: 40px;
  margin-left: 16px;
}
.header-info {
  display: flex;
  align-items: center;
  @media (max-width: 650px) {
    display: none;
  }
}
.header-info__title {
  font-size: 18px;
  line-height: 23px;
  margin-right: 32px;
}
.header__buttom {
  @include button-main();
}

.header-info__mobile {
  display: none;
  @media (max-width: 650px) {
    display: block;
    width: 24px;
    height: 24px;
  }
}
