@import "src/assets/styles/index.scss";

.select {
  background-color: $color-filling;
  border-radius: 8px;
  color: $color-write;
  padding: 12px 16px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &.-active {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
  }
  &__container {
    position: relative;
    cursor: pointer;
  }
}

.select__input {
  color: $color-write;
  &:disabled {
    color: $color-write;
  }
  &.-initial {
    color: $color-disabled-write;
  }
}

.select__input-arrow {
  transform: rotate(90deg);
  cursor: pointer;
  margin-left: 10px;
  transition: all 0.26s ease;
  &.-active {
    transform: rotate(-90deg);
  }
}

.select__option {
  position: absolute;
  height: 0px;
  transition: height 0.2s linear;
  opacity: 0;
  padding: 8px 0;
  &.-active {
    transform-origin: top;
    height: 140px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    overflow-y: auto;
    z-index: 7;
    width: 100%;
    opacity: 1;
    transition: height 0.2s linear;
    border-top-color: $color-disabled;
    background-color: $color-filling;
    border-top-style: solid;
    border-top-width: 1px;
    @include scroll();
  }
}

.select__option__item {
  padding-left: 16px;
  transition: background-color 0.2s linear;
  cursor: pointer;
  &:hover {
    background-color: $color-accent;
  }
}
