.section-jobs {
  padding: 100px 0 40px 160px;
  @media (max-width: 1000px) {
    padding: 72px 0 40px 40px;
  }
  @media (max-width: 420px) {
    padding: 31px 0 40px 15px;
  }
}

.card-item {
  margin-right: 50px;
  @media (max-width: 420px) {
    margin-right: 25px;
    margin-left: 25px;
  }
}

.card-button {
  position: absolute;
  top: -85px;
  right: 120px;
  @media (max-width: 750px) {
    display: none;
  }
}

.section-jobs__title {
  font-size: 32px;
  line-height: 40px;
  margin-bottom: 45px;
  @media (max-width: 450px) {
    font-size: 24px;
    line-height: 30px;
  }
}
