@import "../colors.scss";

@mixin button-main($padding: 12px 16px) {
  background-color: $color-accent;
  color: $color-write;
  cursor: pointer;
  padding: $padding;
  border-radius: 8px;
  font-family: "Euclid-Medium", sans-serif;
  font-size: calc(16px + (18 - 16) * ((100vw - 375px) / (1440 - 768)));
  line-height: 23px;
  transition: 0.3s linear;
  &:hover {
    background-color: $color-accent-hover;
  }
  &:disabled {
    background-color: $color-disabled;
    color: $color-disabled-write;
  }
  &:active {
    background-color: $color-active-accent;
  }
}
