@import "../colors.scss";
@mixin scroll() {
  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: inherit;
    border-bottom-right-radius: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $color-disabled;
    border-radius: 5px;
  }
}
