@import "src/assets/styles/index.scss";

.section-main {
  background-color: $color-filling;
}

.slider-block {
  padding: 0 calc(0px + (150 - 0) * ((100vw - 800px) / (1440 - 800))) 0
    calc(39px + (160 - 39) * ((100vw - 768px) / (1440 - 768)));
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media (max-width: 1352px) {
    padding-right: 20px;
  }
  @media (max-width: 1215px) {
    padding-right: 0;
  }
  @media (max-width: 680px) {
    flex-direction: column;
    padding: 0;
  }
}

.slider-block-image {
  width: 64%;
  padding-bottom: 500px;
  overflow: hidden;
  position: relative;
  @media (max-width: 1440px) {
    padding-bottom: 400px;
  }
  @media (max-width: 800px) {
    clip-path: circle(73.9% at 74% 50%);
  }
  @media (max-width: 680px) {
    width: 100%;
    clip-path: inset(0 0 0 0);
  }
  @media (max-width: 630px) {
    width: 100%;
    padding-bottom: 426px;
    clip-path: circle(84.3% at 50% 93%);
  }
  @media (max-width: 500px) {
    width: 100%;
    padding-bottom: 426px;
    clip-path: circle(95% at 50% 90%);
  }
}

.slider-block__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  animation: animate 1s ease-in-out 1;
  @media (max-width: 1215px) {
    left: 64px;
  }
  @media (max-width: 1000px) {
    left: 10vw;
  }
  @media (max-width: 770px) {
    left: 0;
  }
}

.slider-block__text_title {
  word-break: break-word;
  animation: animate 1s ease-in-out 1;
  margin-bottom: 62px;
  @media (max-width: 770px) {
    margin-bottom: 0;
  }
}

.slider-block__text {
  font-size: calc(72px + (72 - 72) * ((100vw - 768px) / (1440 - 768)));
  line-height: calc(66px + (66 - 66) * ((100vw - 768px) / (1440 - 768)));
  width: 50%;
  margin: 20px 0;
  @media (max-width: 1440px) {
    width: calc(280px + (273 - 280) * ((100vw - 768px) / (1440 - 768)));
  }
  @media (max-width: 680px) {
    width: 600px;
  }
  @media (max-width: 630px) {
    padding: 48px 15px 45px 15px;
    margin: 0;
    font-size: 48px;
    line-height: 44px;
    width: 100%;
  }
}

.slider-block__info-one {
  top: 8%;
  right: 22%;
  @media (max-width: 500px) {
    top: 14%;
    right: 7%;
  }
}
.slider-block__info-two {
  bottom: 8%;
  left: 22%;
  @media (max-width: 500px) {
    bottom: 22%;
    left: 2%;
  }
}

.slider-block__info-one_two {
  bottom: 8%;
  right: 22%;
}

.slider-block__info-two_two {
  top: 8%;
  left: 22%;
}

.slider {
  position: relative;
  width: 80%;
  height: 500px;
  margin: auto;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.slider-img {
  position: absolute;
  width: 100%;
  height: 500px;
  transition: all 0.2s;
}

.slider-img-prev {
  transform: translateX(-100%);
}

.slider-img-next {
  transform: translateX(100%);
}

.button-slider {
  margin-top: 62px;
  @media (max-width: 630px) {
    display: none;
  }
}

@keyframes animate {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.button-slider {
  position: absolute;
  bottom: 48px;
  left: 13vw;
  @media (max-width:1440px) {
    left: 11vw;
  }
  @media (max-width:770px) {
    left: 6vw;
  }
}
