@import "src/assets/styles/index.scss";

.input-content {
  background-color: $color-filling;
  border-radius: 8px;
  color: $color-write;
  position: relative;
}

.input-content__radio {
  background-color: none;
  width: fit-content;
}
.input-block {
  margin: 15px 0;
}
.input-label {
  margin-bottom: 12px;
}

.date-input {
  padding: 12px 16px;
}

.input-content__value {
  padding: 12px 16px;
  width: 100%;
  &::-webkit-calendar-picker-indicator {
    display: none;
  }
  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: inherit;
    border-bottom-right-radius: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $color-disabled;
    border-radius: 5px;
  }
}

.radio-input:checked {
  border: 6px solid $color-filling;
  background-color: $color-write;
}
.radio-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  border: 6px solid $color-filling;
  background-color: $color-filling;
  transition: 0.2s all linear;
  outline: none;
  margin-right: 5px;
  cursor: pointer;
  position: relative;
  top: 4px;
}

.radio-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
