@import "src/assets/styles/index.scss";

.modal {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.3s;
}

.modal.active {
  opacity: 1;
  pointer-events: all;
}

.modal_content {
  padding: 20px;
  border-radius: 8px;
  background-color: $color-label;
  transform: scale(0.5);
  transition: 0.3s all;
  width: 50vw;
}

.modal_content.active {
  transform: scale(1);
}

.moda_cross {
  width: 100%;
  height: 20px;
  text-align: end;
  cursor: pointer;
}
