@import "src/assets/styles/index.scss";

.info-radius {
  position: absolute;
  font-size: 24px;
  line-height: 30px;
  padding: 12px 16px;
  border-radius: 1000px;
  background-color: $color-label;
  z-index: 1000;
}
