@import "src/assets/styles/index.scss";

.buttons-arrows {
  position: relative;
  background-color: $color-label;
  border-radius: 8px;
  width: 80px;
  height: 44px;
}
.button-arrows {
  position: absolute;
  background-color: $color-label;
  padding: 5px 14px;
  margin-top: 10px;
}
.next {
  right: 0;
  border-left-color: $color-filling;
  border-left-style: solid;
  border-left-width: 1px;
}

.arrow * {
  width: 9px;
  height: 10px;
  padding: 5px;
  fill: $color-write;
}

.arrow-disabled * {
  width: 9px;
  height: 10px;
  padding: 5px;
  opacity: 0.2;
}
