$color-accent: #FFDF31;
$color-label: #FFFFFF;
$color-filling: #F5F5F5;
$color-error: #FF6666;
$color-write:#000000;
$color-accent-hover:#fabb33e5;
$color-disabled:rgba(128, 128, 128, 0.562);
$color-disabled-write:rgba(87, 86, 86, 0.705);
$color-active-accent:#ffdc67;