@font-face{
    font-family: "Euclid-Medium";
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/EuclidCircularB-Medium.woff2")
}

@font-face{
    font-family: "Euclid-Regular";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/EuclidCircularB-Regular.woff2")
}
