@import "src/assets/styles/index.scss";

.card {
  min-width: 17vw;
  height: 482px;
  background-color: $color-filling;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s linear;
  &:hover {
    background-color: $color-accent;
    .card-image {
      opacity: 0;
    }
    .card-text {
      opacity: 1;
    }
  }
  @media (max-width: 1700px) {
    min-width: 19vw;
  }
  @media (max-width: 1600px) {
    min-width: 22vw;
  }
  @media (max-width: 1440px) {
    min-width: 24vw;
  }
  @media (max-width: 1200px) {
    min-width: 28vw;
  }
  @media (max-width: 1100px) {
    min-width: 30vw;
  }
  @media (max-width: 1000px) {
    min-width: 35vw;
    height: 410px;
  }
  @media (max-width: 800px) {
    min-width: 37vw;
  }
  @media (max-width: 750px) {
    min-width: 40vw;
    height: 344px;
  }
  @media (max-width: 670px) {
    min-width: 45vw;
  }
  @media (max-width: 550px) {
    min-width: 60vw;
  }
  @media (max-width: 450px) {
    min-width: 70vw;
  }
  @media (max-width: 420px) {
    min-width: 74vw;
  }
}
.card-info {
  position: absolute;
  top: 24px;
  left: 24px;
}

.card-block-image {
  position: relative;
  width: 100%;
  height: 100%;
  margin: auto;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.card-image {
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 1;
  height: 385px;
  width: 327px;
  @media (max-width: 1000px) {
    height: 300px;
    width: 283px;
  }
  @media (max-width: 750px) {
    height: 274px;
    width: 274px;
  }
}

.card-text {
  position: absolute;
  bottom: 24px;
  opacity: 0;
  left: 24px;
}
