@import "src/assets/styles/index.scss";

.gallery-section {
  padding: 48px 160px;
  @media (max-width: 1440px) {
    padding: 48px calc(39px + (165 - 39) * ((100vw - 768px) / (1440 - 768)));
  }
  @media (max-width: 735px) {
    padding: 48px 5px;
  }
}
.gallery-block__title {
  font-size: 32px;
  line-height: 40px;
  margin-bottom: 45px;
  @media (max-width: 450px) {
    font-size: 24px;
    line-height: 30px;
    text-align: center;
  }
  @media (max-width: 380px) {
    font-size: 24px;
    line-height: 30px;
    text-align: inherit;
  }
}

.gallery-block-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 1em;
  justify-items: stretch;

  @media (max-width: 1400px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: 770px) {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 0.8em;
    justify-items: center;
  }
  @media (max-width: 740px) {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 0.7em;
    justify-items: center;
  }
  @media (max-width: 735px) {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 0.7em;
    justify-items: center;
  }
}
.gallery-block__item {
  background-color: $color-filling;
  min-width: 255px;
  min-height: 255px;
  border-radius: 8px;
  &:first-child {
    min-width: 540px;
    min-height: 540px;
    grid-column: 1/3;
    grid-row: 1/3;
  }
  @media (max-width: 770px) {
    flex: 1 1 auto;
    min-width: 210px;
    min-height: 210px;
    max-width: 210px;
    max-height: 210px;
    &:first-child {
      max-width: 320px;
      max-height: 330px;
      min-width: 320px;
      min-height: 330px;
    }
    &:nth-child(2) {
      max-width: 320px;
      max-height: 330px;
      min-width: 320px;
      min-height: 330px;
    }
  }
  @media (max-width: 735px) {
    flex: 1 1 auto;
    max-width: 346px;
    max-height: 346px;
    min-width: 346px;
    min-height: 346px;
    margin: 0 auto;
    &:first-child {
      max-width: 346px;
      max-height: 346px;
      min-width: 346px;
      min-height: 346px;
    }
    &:nth-child(2) {
      max-width: 346px;
      max-height: 346px;
      min-width: 346px;
      min-height: 346px;
    }
  }
}
.gallery-button {
  width: 100%;
  padding: 12px;
  font-size: 18px;
  line-height: 22px;
  border-radius: 8px;
  background-color: $color-filling;
  text-align: center;
  margin-top: 30px;
}
